body{
    background-color: black;
    color: white;
}
.ball{
    font-size: 22px;
    font-weight: bold;;
    text-align: center;
    background-color: blueviolet;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
}
